* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #526d82;
    background-image: linear-gradient(
        43deg,
        #dde6ed 0%,
        #27374d 46%,
        #526d82 100%
    );
    font-family: Arial;
    color: #dde6ed;
}
/*barra navegacion*/

.nav__bar {
    background-image: linear-gradient(
        43deg,
        #dde6ed 0%,
        #27374d 46%,
        #526d82 100%
    );
    height: 3.5rem;
    padding: 10px 12px;
    position: relative;
    border: 2px solid goldenrod;
}
.checkbox,
.nav__icons {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}
.nav__icons {
    pointer-events: none;
    font-size: 24px;
}

.checkbox {
    opacity: 0;
}

.fi-br-cross {
    display: none;
}
.checkbox:checked ~ .fi-br-menu-burger {
    display: none;
}
.checkbox:checked ~ .fi-br-cross {
    display: block;
}
.nav__menu {
    width: 200px;
    position: absolute;
    top: -106px;
    z-index: -1;
    right: 0;
    transition: 300ms;
}

.nav__menu li a {
    color: inherit;

    display: block;
    padding: 5px 8px;
}
.nav__menu li a:hover {
    background-color: transparent;
}
.checkbox:checked ~ .nav__menu {
    top: 48px;
}
i,
a {
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
}
i:hover,
a:hover {
    border-radius: 10px;
    padding: 5px 10px;
    color: #dde6ed;
    transform: scale(1.3);
}
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    animation-duration: 4s;
}
.presentacion__juguete {
    position: relative;
    height: 12vw;
    margin: 10px;
}

#bola-de-hilo {
    width: 10%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    animation: desplazamiento 4s linear infinite alternate;
}

@keyframes desplazamiento {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 10%);
    }
}
.presentacion__gato {
    height: 18vw;
    width: 95%;
    position: relative;
    margin: 10px;
}
#gato {
    width: 15%;
    height: 18vw;
    position: absolute;
    top: 1%;
    left: 0;
    transform: translate(0, 0%);
    animation: desplazamiento 5s linear infinite alternate-reverse;
}
@media  (min-width: 300px) {
    /*secciones*/
    /*presentacion*/
    /*animacion saludo*/

    .presentacion {
        width: 100%;
        height: 100vh;
        padding: 50px 10px;
        text-align: justify;
        display: flex;
        color: #dde6ed;
        line-height: 1.3;
        font-size: 16px;
    }

    .presentacion__texto {
        width: 100%;
        margin-top: 50px;
        line-height: 1.5;
        z-index: -1;
        margin: 0 8px;
    }
    h3 {
        font-size: 22px;
        color: #dde6ed;
        margin: 8px;
    }

    /*certificaciones*/
    .certificaciones {
        width: 100%;
        height: 100vw;
        text-align: center;
        color: #dde6ed;
        flex-wrap: wrap;
        margin-top: 250px;
        margin-bottom: 500px;
    }
    /*contenedor diplomas*/

    .certificaciones div {
        width: 100%;
    }
    .certificaciones__contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .certificaciones__contenedor--logo {
        width: 90vw;
        height: auto;
        border-radius: 20px;
        background-color: #1a2433;
        border: 2px solid goldenrod;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .certificaciones__contenedor--logo,
    img {
        width: 95%;
        height: 90%;
        border-radius: 20px;
        margin-top: 10px;
    }
    img,
    figcaption {
        text-align: center;
        font-size: 8px;
    }

    /*proyectos*/

    .proyectos {
        min-width: 100vw;
        padding: 40px;
        margin: 10px auto;
        text-align: center;
        color: #dde6ed;
    }

    .proyectos__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .proyectos__contenedor--logo {
        box-shadow: 11px 20px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 11px 20px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 11px 20px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 20px;
        border: 2px solid goldenrod;
        background-color: #1a2433;
    }
    figure,
    .proyectos__contenedor--logo {
        margin: 20px auto;
        align-items: center;
    }

    .contacto {
        background-image: url(./img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .contacto__contenedor {
        border: 3px solid black;
    }

    .contacto__redes {
        color: black;
        font-family: Helvetica;
    }
    .icono__contacto {
        color: black;
    }
    .contacto__formulario {
        border: 3px solid black;
        margin: 10px;
        border-radius: 10px;
        line-height: 2;
        font-size: 18px;
        display: block;
    }
    fieldset {
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
        border: 3px solid goldenrod;
    }
    input {
        border-radius: 5px;
        display: block;
        width: 100%;
        font-size: 22px;
    }
    #input__submit {
        background-image: linear-gradient(
            43deg,
            #dde6ed 0%,
            #27374d 46%,
            #526d82 100%
        );
        box-shadow: 11px 20px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 11px 20px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 11px 20px 5px 0px rgba(0, 0, 0, 0.75);
        border: 1px solid goldenrod;
    }
    textarea {
        width: 98%;
        height: 50px;
        border-radius: 5px;
    }

    footer {
        padding: 15px;
        font-family: "Zen Dots", cursive;
        font-size: 1.2em;
        text-align: center;
        color: black;
        letter-spacing: 1px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin-bottom: 0;
        font-family: "Boneribbon-Bold";
        background-image: url(./img/pngegg.png);
    }
    .footer__menu {
        padding: 30px auto;
        font-size: 22px;
    }
    .footer__menu li a {
        color: #27374d;
    }
    .footer__menu li a:hover {
        background-color: #526d82;
        border-radius: 5px;
        padding: 5px 10px;
        color: #dde6ed;
    }
}
.footer__redes i {
    color: #526d82;
    padding: 20px;
}
.footer__redes i:hover {
    background-color: #526d82;
    border-radius: 50px;
    padding: 5px 10px;
    color: #dde6ed;
}
.footer__imagen {
    text-align: center;
    position: relative;
}
#yo {
    border-radius: 30px;
    border: 3px double goldenrod;
    max-width: 60%;
    margin: 20px auto;
}

.pulso {
    width: 10%;
    margin: 10px auto;
    border: none;
}
.pulso:hover {
    transform: scale(0.5);
}

@media (min-width: 480px) and (max-width: 768px) {
    .checkbox,
    .fi-br-cross,
    .fi-br-menu-burger {
        display: none;
    }
    .nav__menu {
        top: 0;
        z-index: 1;
        width: unset;
        display: flex;
    }
    .nav__menu a {
        height: 46px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .checkbox,
    .fi-br-cross,
    .fi-br-menu-burger {
        display: none;
    }
    .nav__menu {
        top: 0;
        z-index: 1;
        width: unset;
        display: flex;
    }
    .nav__menu a {
        height: 46px;
    }

    .presentacion__texto {
        font-size: 20px;
        text-align: center;
        padding-bottom: 30px;
    }
    .certificaciones {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    #bola-de-hilo,
    #gato,
    .pulso img {
        border: none;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .checkbox,
    .fi-br-cross,
    .fi-br-menu-burger {
        display: none;
    }
    .nav__menu {
        top: 0;
        z-index: 1;
        width: unset;
        display: flex;
    }
    .nav__menu a {
        height: 46px;
    }
    .certificaciones {
        width: 70%;
        margin: 10px auto;
    }
    #bola-de-hilo {
        width: 10%;
    }
}
